.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/edit-button.svg");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  border: white 1px solid;
  position: absolute;
  right: -28px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 880px) {
  .profile__edit-button {
    position: static;
    margin-left: 18px;
    background-size: 10px;
    width: 24px;
    height: 24px;
  }
}
