.popup__info {
  padding-top: 61px;
  padding-bottom: 45px;
  height: 238px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 880px) {
  .popup__info {
    padding-top: 46px;
    padding-bottom: 36px;
  }
}

