.profile__name-text {
  color: white;
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .profile__name-text {
    font-size: 42px;
    line-height: 48px;
    text-align: start;
  }
}
