.popup__form {
  width: 282px;
  height: 322px;
  padding: 25px 22px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
