.profile__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 880px) {
  .profile__name {
    position: static;
    text-align: start;
    align-items: baseline;
  }
}
